  * {
      box-sizing: border-box;
      
  }

  /* header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 3;
      background-color: #2bc5b8;
      padding: 10px;
      width: 100%;
  }
 */
  /* #toggle {
      padding: 3px;
      background-color: white;
      border-radius: 5px;
      display: none;
      cursor: pointer;
  }
 */

  aside {
      width: 250px;
      height: 100vh;
      background-color: rgba(97, 178, 192, 0.8);
      position: fixed;
      right: -250px;
      backdrop-filter: blur(3px);
      padding: 20px 0;
      transition: 0.3s;
      
  }

  aside nav ul li {
      padding: 5px 20px;
  }

  aside nav ul {
      display: flex;
      flex-direction: column;
  }

  aside nav ul li:hover {
      background-color: #3bd4d7;
  }

  body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f8f8;
      margin: 0;
      padding: 0;
  }

  .cv-container {
      width: 70%;
      margin: 30px auto;
      /* margin-top: 30px; */
      /* margin-bottom: 180px; */
      background: #fff;
      padding: 30px;
      box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
      border-radius: 10px;
  }

  section h2 {
      color: #fff;
      border-bottom: 1px solid #3bd4d7;
      padding-bottom: 5px;
      width: 50%;
      background-color: #2bc5b8;
      display: flex;
      justify-content: center;
  }

  .photo-profil {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;

  }

  .contact {
      width: 100%;
  }

  .couleur{
    text-decoration: none;
    font-weight: normal;
    color: black;
  }
  .cv-content {
      display: flex;
      gap: 20px;
  }
  .col-gauche {
    border-right: 3px solid #2bc5b8;
    padding-right: 10px;
  }

  .col-gauche,
  .col-droite {
      width: 50%;
  }

  @media screen and (max-width: 768px) {
      .cv-content {
          flex-direction: column;
      }

      .col-gauche,
      .col-droite {
          width: 100%;
      }

      .en-tete {
          flex-direction: column;
      }

      header nav {
          display: none;
      }

      #toggle {
          display: block;
      }

      .cv-container {
          width: 100%;
      }

      section h2 {
          width: 100%;
      }

      img {
          margin: 0 auto;
      }
      .col-gauche {
    border-right: none;
    padding-right: 0;
      }

  }
  @media screen and (min-width:1015px) {
    aside {
        display: none;
    }
    
  }

  .nom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;

  }

  .navbar ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      gap: 20px;
  }

  .navbar a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
  }

  html {
      scroll-behavior: smooth;
  }

  .en-tete {
      /* border: solid red; */
      display: flex;
  }